<h1>New to do List</h1>

<%= form_for(@list) do |f| %>

    <label>     Name
        <p><%= f.text_field :name%></p>
    </label>  <br/>
    <label> Description
        <p><%= f.text_field :description %></p>
    </label>

    <%= f.submit %>
<% end %>

